
#grid {
    display: grid;
    grid-template-columns: 200px 6fr;
}
#navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(240, 240, 240);
}
.navMenu{
    text-align: center;
}
.menu{
    margin-bottom:15px;
}
a {
    color: black;
    text-decoration:none;
    padding: 2%;
}
h1 {
    text-align: center;
    padding: 2%;
    margin: 0%;
}
p {
    padding: 2%;
}
#메뉴 {
    background-color: rgb(220, 220, 220);
    padding-top:5px;
}
#본문 {
    background-color:white;
    padding-left: 5%;
}
.inviteLink {
    color:blue;
}